html
  head
    title MERFN bootstrap
    link(rel='stylesheet', href='/css/whitelabel.min.css')
    //link(rel='stylesheet', href='/css/blank-theme.min.css')
    script(src='/js/vendor/vendor.js')
    script(src='/js/application.js')
    script(src = 'http://localhost:35729/livereload.js')
    script.
      var app = new MERFNApp();

  body
    block content